@keyframes fade-in {
	from {opacity: 0%;}
	to {opacity: 100%;}
}

*{
	box-sizing: border-box;
	margin: 0;
}

body{
	margin: 0;
	overflow: hidden;
}

#s-bar-container{
}

#s-bar{
	width: 100%;
	display:flex;
	align-items: center;
	justify-content:center;
	flex-wrap: wrap;
	background-color: black;
}


#nc{
	display:grid;
	grid-gap: 4px;
	justify-content: center;
	align-items: center;
}

#graph-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5vh 5vw;
}

.cell {
	color: black;
	border-style: solid;
	user-select:none;
	transition: 0.5s;
	width: 35px;
	height: 35px;
}

.s-bar-item{
	color: white;
	margin: 15px;
	padding: 15px;
	width: 10em;
}

.form-group{
	display:flex;
	flex-direction:column;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	display: none;

	pointer-events: none; /* disable click events on the circle */
	transition: all 0.3s ease-out; /* add a smooth transition effect */
}